    :root{

        --corprincipal:#bbbbff;
        --corsecundaria:#5b5beb;
        --branco:#ffffff;
        --preto:#000000;
        --texto:#353131;

        --bastão:'Bebas Neue',cursive;
    }

    
   


  


        body{

            background: linear-gradient(to right,white,rgb(165, 165, 255));
            margin:0px;
            padding:0px ;
           
            
            
        }

        img{
            max-width:100% ;
        }

 
            a{

            text-decoration:none;
            color:var(--preto)
        }

                .barra{

                background-color: var(--corprincipal);
                width:auto;
                height:100px;
            }
        
    a:hover{color:var(--branco)}
    .contato:hover{transform: scale(1.2);}
    .areadeatuacao:hover{transform: scale(1.2);}
    .quemsomos:hover{transform: scale(1.2);}

    .logo{

        position: absolute;
        top:1px ;
        right:1300px ;
    }
    
        .contato{

            font-size:13px;
            position: absolute;
            top:5px;
            right:1100px;
            background-color:var(--corprincipal);
        }
        
        
    
            .quemsomos{

                font-size:13px;
                position: absolute;
                top:5px;
                right:900px;
                background-color:var(--corprincipal)
            }
                
                
    
                .areadeatuacao{

                    font-size:13px;
                    position: absolute;
                    top:5px;
                    right:650px;
                }
                     

                    .imageminicial{

                        height: 200px;
                        overflow:hidden;
                        background-color:var(--corprincipal)
                    } 

                    .imageminicial img{

                        max-width: 100%;
                    }    
    

        

                        .nossosservicos{

                            position: absolute;
                            top:135px;
                            right:600px;
                            color: white;
                            font-family: 'Bebas Neue', cursive;
                            letter-spacing:3px;
                            font-size:25px ;
                            text-shadow: 5px 5px 5px var(--preto)
                        }
    


                                .circulowhatsapp{

                                width:60px;
                                height:60px;
                                border-radius:50%;
                                background-color:var(--corsecundaria);
                                position: absolute;
                                top:-40px;
                                right:150px ;
                                margin:50px;
                            }

                                    .fotowhatsapp{

                                    position: absolute;
                                    top:23px;
                                    right:214px ;
                                }


                                    

                                    .circuloinstagram{

                                        width:60px;
                                        height:60px;
                                        border-radius:50%;
                                        background-color:var(--corsecundaria);
                                        position: absolute;
                                        top:-40px;
                                        right:80px ;
                                        margin:50px;
                                    }




                                        .fotoinstagram{

                                            position: absolute;
                                            top:25px;
                                            right:145px ;
                                        }

                                            .circulofacebook{

                                                width:60px;
                                                height:60px;
                                                border-radius:50%;
                                                background-color:var(--corsecundaria);
                                                position: absolute;
                                                top:-40px;
                                                right:10px ;
                                                margin:50px;
                                            }

                                                .fotofacebook{

                                                    position: absolute;
                                                    top:25px;
                                                    right:75px ;
                                                }

                                                .titulolimpeza{
                                                    position: absolute;
                                                    top:450px;
                                                    right:680px;
                                                    color: var(--corsecundaria);
                                                    font-size: 20px;
                                                    font-family: 'Josefin Sans', sans-serif;
                                                }

                                            .textolimpeza{
                                                position: absolute;
                                                top:525px;
                                                color:var(--texto);
                                                font-size:18px;
                                                right:570px ;
                                                font-family: 'Josefin Sans', sans-serif;
                                            }

                                            picture{
                                            position:absolute;
                                            top:425px;
                                            right:40px ;
                                            
                                        }

                                       
 


    