    :root{

    --corprincipal:#bbbbff;
    --corsecundaria:#5b5beb;
    --corterceraria:#3b3bb4;
    --branco:#eeeeee;
    --preto:#000000;
    --texto:#353131;

    --bastão:'Bebas Neue',cursive;
    --secundaria:'Kdam Thmor Pro', sans-serif;
    --depoimentos:'Lobster', cursive;
}

    *{
    margin: 0;
    padding: 0;
    
}



body{
background: linear-gradient(to right,white,rgb(120, 120, 253));
width: 100%;
}

img{
max-width:100%;
}


a{
text-decoration:none;
color:var(--preto)
}

a:hover{
    color:rgb(83, 75, 75);
    text-shadow: 5px 5px 5px var(--branco);}

nav{
background-color: var(--corprincipal);
}


.quemsomos{

font-size:30px;
position: absolute;
top:5px;
right:1000px;
color: var(--preto);
font-family: var(--bastão);
text-shadow: 5px 5px 5px var(--branco);
}

.areadeatuacao{

font-size:30px;
position: absolute;
top:5px;
right:725px;
color: var(--preto);
font-family: var(--bastão);
text-shadow: 5px 5px 5px var(--branco);
}




.nossosservicos{

height: 200px;
overflow:hidden;
background-color:var(--corprincipal)
} 

.nossosservicos img{

max-width: 100%;

}    




.nossosservicos h1{

position: absolute;
top:160px;
right:550px;
color: white;
font-family: 'Bebas Neue', cursive;
letter-spacing:3px;
font-size:55px ;
text-shadow: 5px 5px 5px var(--preto)
}



.circulowhatsapp{

width:60px;
height:60px;
border-radius:50%;
background-color:var(--corsecundaria);
position: absolute;
top:-40px;
right:200px ;
margin:50px;
}

.fotowhatsapp{

position: absolute;
top:23px;
right:263px ;
}




.circuloinstagram{

width:60px;
height:60px;
border-radius:50%;
background-color:var(--corsecundaria);
position: absolute;
top:-40px;
right:120px ;
margin:50px;
}




.fotoinstagram{

position: absolute;
top:25px;
right:185px ;
}

.circulofacebook{



width: 60px;
height: 30px;
height:60px;
border-radius:50%;
background-color:var(--corsecundaria);
position: absolute;
top:-40px;
right:40px ;
margin:50px;
}

.fotofacebook{

position: absolute;
top:25px;
right:105px ;
}

.circulogmail{

width: 60px;
height: 30px;
height:60px;
border-radius:50%;
background-color:var(--corsecundaria);
position: absolute;
top:-40px;
right:-40px ;
margin:50px;
}

.fotogmail{
    position: absolute;
    top: 25px;
    right:25px ;
}

.limpezasofa h1{
position: relative;
top:150px;
text-align: center;
color: var(--corsecundaria);
font-size: 40px;
font-family: 'Josefin Sans', sans-serif;
text-shadow: 10px 10px 10px rgb(136, 136, 136);
}

.limpezasofa p{
position: relative;
top:200px;
text-align: center;
color:var(--texto);
font-size:18px;
font-family: 'Josefin Sans', sans-serif;
padding: 15px;
}



.limpezatapetes h1{
position: relative;
top:300px;
text-align: center;
color: var(--corsecundaria);
font-size: 40px;
font-family: 'Josefin Sans', sans-serif;
text-shadow: 10px 10px 10px rgb(136, 136, 136);

}

.limpezatapetes p{

position: relative;
top: 350px;
text-align: center;
color:var(--texto);
font-size:18px;
font-family: 'Josefin Sans', sans-serif;
padding: 15px;
}

.depoimentos{
    font-family:var(--depoimentos);
    font-size: 20px;
    
}

.depoimentos h1{
position: relative;
top: 450px;
text-align: center;
font-family: var(--secundaria);
color: var(--corterceraria);
font-size:45px;
}

.depoimentos .juliana{
    position: relative;
    top:500px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    right:-40px ;
    height: 220px;
}

.depoimentos .lucas{
    position: relative;
    top:265px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    right:-550px ;
    height: 220px;
}

.depoimentos .aline{
    position: relative;
    top:30px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    left:1050px ;
    height: 220px;
}

.depoimentos .marcia{
    position: relative;
    top:80px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    right:-40px ;
    height: 220px;
}

.depoimentos .julianaalmeida{
    position: relative;
    top:-160px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    right:-550px ;
    height: 220px;
}

.depoimentos .helcio{
    position: relative;
    top:-400px ;
    border: 5px solid var(--corterceraria);
    padding: 5px;
    border-radius:10px;
    width: 300px;
    left:1050px ;
    height: 220px;

}

.google .google{
    position: absolute;
    top: 1800px;
    right: 450px;
    max-width: 100%;
    
}

.stars .stars{
    position: absolute;
    top: 1770px;
    right: 450px;
    max-width: 100%;
}

.antesedepois{
    font-family: var(--secundaria);
    color: var(--corterceraria);
    font-size: 25px;
    position: relative;
    text-align: center;
    bottom:-155px;
}



.galeria{
width:440px ;
height:440px;
overflow: hidden;
border: 5px var(--corsecundaria) solid;
position: relative;
top:250px;
right:-480px;
}

.galeria .fotos{
width:500%;
animation-name: animacao;
animation-duration: 20s;
animation-iteration-count: infinite;
}

.galeria .fotos img{
width:19.9% ;
}



footer {
position: absolute;
bottom:-2600px;
background-color: var(--branco);
color: #FFF;
width: 100%;
height:300px;    
text-align: center;
line-height: 100px;

}

.logorodape img{
width: 100px;
height: 100px;
position: absolute;
left:50px;
top: 50px;
max-width: 100%;
min-width: 0,5%;
min-height: 0,5%;



}

.copyright{
color: #000000;
background-color: rgb(165, 156, 156);
position: absolute;
width: 100%;
height: 50px;
bottom: -2600px;
text-align: center;
line-height: 50px;

}















